* {
  box-sizing: border-box;
}

body {
  height: 95svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}
